@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #091235;
}

.nav-link{
  color: white;
}

.navbar-brand{
  color: white;
} 

.navbar-nav{
  margin-left: auto;
}

.title-rooms {
  font-size: 50px;
  font-weight: 700;
  color: #091325;
}

.btn-details {
  color: red;
}

p{
  font-weight: 500;
}

/* Estilos room */
.small-img {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}
.big-img{
  height: 400px;
  border-radius: 5px;
}
h1 {
  font-weight: 600;
}

.btn {
  background-color: #091235 ;
  color: #fff;
  box-shadow: none ;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: #88A9C3 ;
}
.btn-danger{
  background-color: rgb(183, 47, 47);
  margin-right: 5px;
}
.btn-danger:hover{
  background-color: rgb(137, 36, 36);
}
.btn-primary{
  background-color: rgb(19, 37, 76);
  border: none;
}
.btn-primary:hover{
  background-color:  rgb(13, 25, 52);
}

.bs {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #e6e6e6;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
}

/* Register */
input, .ant-picker {
  box-shadow: none;
  margin-top: 10px;
  border: 1px solid black;
  width: 100%;
  border-radius: 3px;
  height: 35px;
}

h2 {
  font-size: 30px ;
  padding: 10px;
  font-weight: bold ;
  text-align: center;
}

.dropdown-toggle {
  border: 0px solid black;
}

.landing{
  background-color: #091235;
  height: 100vh;
  padding-top: 130px;

}
.titulo {
  color: #fff;
}

.landing-btn{
  background-color: #fff;
  color: black;
  padding: 15px 30px;
}

.landing-btn:hover{
  background-color: #88A9C3;
  color: white;
}

.landing .col-md-12{
  border-right: 5px solid white;
}